<div id="<%= dom_id brewery %>">
  <h2>
    Name:
    <%= link_to brewery.name, brewery_path(brewery.id) %>
  </h2>
  <p>Beers count: <%= @brewery.beers.count %></p>
  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>
  <p>
    <em>
      Established in
      <%= brewery.year %>
    </em>
    </p>

</div>
