<p style="color: green"><%= notice %></p>

<h1>Beers</h1>
<%= link_to 'List of breweries', breweries_path %>

<div id="beers">
  <% @beers.each do |beer| %>
    <div id="<%= dom_id beer %>">
      <p>
        <strong>Name:</strong>
        <%= link_to beer.name, beer %>
      </p>
    
      <p>
        <strong>Style:</strong>
        <%= beer.style %>
      </p>
    
    </div>
  <% end %>
</div>

<%= link_to "New beer", new_beer_path %>
